ul,
p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
  padding: 0;
}
.friendList {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.friendItem {
  border: 3px solid black;
  background-color: #ffffff;
  border-radius: 8px;
  width: 100px;
  padding: 15px;
  text-align: center;
}
.friendAvatar {
  width: 100%;
}
.friendName {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.friendOnline {
  font-size: 30px;
  color: #4dee4d;
}
.friendOffline {
  font-size: 30px;
  color: #ce2424;
}
