.transactionHistory {
  background-color: white;
  width: 500px;
  margin: 0 auto 80px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  overflow: hidden;
}
.transactionHead {
  background-color: #2b8428;
  width: 100%;
}

th,
td {
  height: 30px;
}

.transactionHead th {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.transactionHead th:nth-of-type(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.transactionBody {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.transactionBody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.2);
}

.transactionBody td::first-letter {
  text-transform: uppercase;
}

.transactionBody td:nth-of-type(2) {
  border-left: 1px solid #e7e1e1;
  border-right: 1px solid #e7e1e1;
}
